html, body {
    width: 100%;
    height: 100%;
}

.text-menu-color {
    color: #263238;
}

.btn-trigger {
    background: transparent;
    box-shadow: none;
}
.btn-trigger:hover {
    background: transparent;
    box-shadow: none;
}

.menu {
    border-bottom: 1px solid #B0BEC5;
}

.banner {
    width: 100%;
    height: 91%;
    background: url('../img/bg01.jpg');
    background-attachment: fixed;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
}

.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-content .card {
    width: 300px;
    min-height: 230px;
    margin: 20px;
}