@import './base.css';

.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.primary-color-text {
  color: var(--primary-color);
}

.secondary-color-text {
  color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
  font-weight: 500;
}

.divider {
  width: 50px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1.5px solid var(--color-background-soft);
}